@import "tailwindcss";

:root {
  --color-navy: #00205C;
  --color-teal: #4B858E;
  --color-gray: #767B7A;
  --color-offwhite: #F4F2EE;
  --color-dark: #080C14;
}

body {
  font-family: var(--font-dm-sans), system-ui, sans-serif;
  background-color: var(--color-dark);
  color: var(--color-offwhite);
}

@keyframes wst-progress {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
